
<li class="nav-item">
    <a asp-controller="Carrito" asp-action="Index">
        <button class="btn ">
            <i class="ti-shopping-cart"></i>
            <span class="nav-shop__circle">@ViewBag.countItems</span>
        </button>
    </a>
</li>
