
<form method="get" asp-controller="producto" asp-action="buscar">
    <div class="input-group filter-bar-search" >
        <input type="text" placeholder="Buscar" name="palabra">
        <div class="input-group-append">
            <button type="button"><i class="ti-search"></i></button>
        </div>

    </div>
</form>