@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}
@using ProyectoTiendaOnline.Models;

<!--================ Hero banner start =================-->
<section class="hero-banner">
    <div class="container">
        <div class="row no-gutters align-items-center pt-60px">
            <div class="col-5 d-none d-sm-block">
                <div class="hero-banner__img">
                    <img class="img-fluid" src="~/user/img/home/hero-banner.png" alt="">
                </div>
            </div>
            <div class="col-sm-7 col-lg-6 offset-lg-1 pl-4 pl-md-5 pl-lg-0">
                <div class="hero-banner__content">
                    <h4>Comprar es divertido.</h4>
                    <h1>
                        Explore nuestros productos
                    </h1>
                    <p>No esperes más, todo está al alcanze de un Click.</p>
                    <a class="button button-hero"  asp-controller="cliente" asp-action="Registrar">Registrate ahora</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================ Hero banner start =================-->
<!--================ Hero Carousel start =================-->
<section class="section-margin mt-0">
    <div class="owl-carousel owl-theme hero-carousel">
        <div class="hero-carousel__slide">
            <img src="~/user/img/home/hero-slide1.png" alt="" class="img-fluid">
            <a href="#" class="hero-carousel__slideOverlay">
                <h3>
                    Calzado
                </h3>
                <p>
                   
                </p>
            </a>
        </div>
        <div class="hero-carousel__slide">
            <img src="~/user/img/home/hero-slide2.png" alt="" class="img-fluid">
            <a href="#" class="hero-carousel__slideOverlay">
                <h3> Auriculares</h3>
                <p></p>
            </a>
        </div>
        <div class="hero-carousel__slide">
            <img src="~/user/img/home/hero-slide3.png" alt="" class="img-fluid">
            <a href="#" class="hero-carousel__slideOverlay">
                <h3>Decoración</h3>
                <p></p>
            </a>
        </div>
    </div>
</section>
<!--================ Hero Carousel end =================-->
<!-- ================ trending product section start ================= -->
<section class="section-margin calc-60px">
    <div class="container">
        <div class="section-intro pb-60px">
            <h2>Ultimos <span class="section-intro__style">Productos</span></h2>
        </div>
        <div class="row">
            @foreach (var producto in ViewBag.ultimosproductos)
            {
                Producto producInfo = (Producto)producto;
                Foto foto = producInfo.Fotos.SingleOrDefault(o => o.Destacado);
                var fotoNombre = foto == null ? "noimage.PNG" : foto.Nombre;

                <div class="col-md-6 col-lg-4 col-xl-3">
                    <div class="card text-center card-product">
                        <div class="card-product__img">
                            <img class="card-img" src="~/imagenes/@fotoNombre" style="height:200px;width:250px;" >
                            <ul class="card-product__imgOverlay">
                                
                               
                                
                            </ul>
                        </div>
                        <div class="card-body">
                            <p>@producInfo.Parent.Nombre</p>
                            <h4 class="card-product__title">
                                <a asp-controller="producto" asp-action="detalles" asp-route-id="@producto.Id">@producInfo.Nombre</a>
                            </h4>
                            <p class="card-product__price">S/@producInfo.Precio</p>
                            <p class="card-product__price">Vendedor: @producInfo.Usuario.Username</p>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>
<!-- ================ trending product section end ================= -->